target/
**/target/
_bpf_build/
ebpf/_bpf_build/
*.bpf.o
logs/
json_files/
state/
*.ndjson

# runtime/generated
edr-agent/json_files/
edr-agent/telemetry_output/
state/pcb_snaps.ndjson
logs/
edr-agent/logs/
target/
